$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
    background-image: url(images/notesBG.png);
    background-repeat: repeat;
    color: $primary-color;
    font: 100% $font-stack;
    margin: 0 auto;
    width: 100%;
}

nav {
    background-color: $primary-color;
    height: 60px;
    width: 100%;
}

nav input {
    float: right;
    font-size: 1.5em;
    margin-top: 18px;
    margin-right: 55px;
}

nav button {
    float: right;
    font-size: 15px;
    margin-right: -95px;
}

.container {
    border: 1px solid gray;
    border-radius: 2px;
    clear: both;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    padding-left: 80px;
    width: 960px;
}